openapi: 3.2.0
info:
  title: TDP Roles API
  description: TANF Data Portal API documentation
  contact:
    email: tanfdata@acf.hhs.gov
  version: v1
servers:
- url: https://tanfdata.acf.hhs.gov/
security:
- Basic: []
tags:
- name: Roles
paths:
  /v1/roles/:
    parameters: []
    get:
      operationId: v1_roles_list
      description: GET for groups (roles).
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
      tags:
      - Roles
      summary: V1 roles list
      x-summary-source: derived
components:
  schemas:
    Group:
      required:
      - name
      - permissions
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 150
          minLength: 1
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/Permission'
    Permission:
      required:
      - codename
      - name
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        codename:
          title: Codename
          type: string
          maxLength: 100
          minLength: 1
        name:
          title: Name
          type: string
          maxLength: 255
          minLength: 1
        content_type:
          title: Content type
          type:
          - string
          - 'null'
          minLength: 1
  securitySchemes:
    Basic:
      type: http
      scheme: basic
